/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #ffffff */
/* цвет акцента #2196F3 */
/* цвет подложки в занятости rgba(47, 48, 58, 0.8) */
/* цвет логотипов #AFB1B8; */
/* цвет бекграунда под фото #F5F4FA; */
/* цвет футора #2F303A; */
/* цвет контактов в футоре rgba(255, 255, 255, 0.6); */
/* цвет иконок соцсетей в футоре rgba(255, 255, 255, 0.1); */
/* цвет надписи создателей сайта rgba(255, 255, 255, 0.4); */



:root {
    --primarli-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primarly-white-color: #ffffff;
    --busyness-bg: rgba(47, 48, 58, 0.8);
    --logo-color: #AFB1B8;
    --back-graund-developers-color: #F5F4FA;
    --footer-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --social-icon-color: rgba(255, 255, 255, 0.1);
    --developers-text-color: rgba(255, 255, 255, 0.4);

}

body {
    margin: 0;
    background-color: var(--primarly-white-color);
    color: var(--primarli-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1230;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid lime;
}
li {
    list-style: none;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo > span {
color: var(--accent-color);
}

footer .logo {
    color: var(--primarly-white-color);
}

/* site-nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus
{
color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* auth-nav */

.auth-nav .link {
    color: var(--primarli-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; 
}
.auth-nav a:hover {
    color: var(--accent-color);
}


/* герой */

.hero {
    text-align: center;
}

.hero .hero-title{
    margin-top: 0;
    margin-bottom: 46px;

    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    font-family: inherit; 
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none; 
    
    display: inline-block;
    padding: 10px 32px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--primarly-white-color);
    border: 1px solid var(--accent-color);
    
}
/* секция */

.section-advantages .images{
    margin-bottom: 30px;
}

.section-advantages .section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-advantages .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
    
.advantages-list p {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}


/* список преимуществ */

.section-advantages .container{
    padding-top: 0;
    padding-bottom: 0;
}

.advantages-list .images:hover {
    background-color: var(--accent-color);
    padding: 25px 106.24px;

}
/* чем мы занимаемся*/


.section .container{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list .title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    color:  var(--primarly-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
}

/* разработчики */

.developers {
    background-color: var(--back-graund-developers-color);
}

.section .subject {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section p {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

section .icon {
    color: var(--logo-color);
    text-decoration: none; 
    }
.icon:hover {
    color: var(--accent-color);
}

/* наши клиенты */



/* футор */

footer {
    background-color: var(--footer-color);
}

address {
    color: var(--primarly-white-color);
    font-style: inherit;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none; 
}

.contacts {
    color: var(--contacts-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none
}

.contacts:hover {
    color: var(--accent-color);
}

footer .title {
    color: var(--primarly-white-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


footer .icon {
    color: var( --social-icon-color);
    text-decoration: none;
    }

footer .text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--developers-text-color);
    font-size: 12px;
    line-height: 2;
    text-align: center;
}







/* страница портфолио */

.portfolio .title{
    margin-top: 0;
    margin-bottom: 0;
}
.portfolio .button {
    color: var(--title-text-color);
    background-color: var(--back-graund-developers-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--primarly-white-color);
    background-color:var(--accent-color);
}

.selection{
    margin-bottom: 50px;
   }

.portfolio-list a {
    text-decoration: none;
}

.portfolio-list .images {
    margin-bottom: 20px;
}
.portfolio-title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

.portfolio .subject {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--primarli-text-color);
    font-size: 16px;
    line-height: 1.87;
}
    
.portfolio .text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 63px;
    padding-bottom: 63px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 1.56;
}

.portfolio .text:hover {
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
}

