/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #ffffff */
/* цвет акцента #2196F3 */
/* цвет подложки в занятости rgba(47, 48, 58, 0.8) */
/* цвет логотипов #AFB1B8; */
/* цвет бекграунда под фото #F5F4FA; */
/* цвет футора #2F303A; */
/* цвет контактов в футоре rgba(255, 255, 255, 0.6); */
/* цвет иконок соцсетей в футоре rgba(255, 255, 255, 0.1); */
/* цвет надписи создателей сайта rgba(255, 255, 255, 0.4); */
/* цвет  рамки для ввода имейла rgba(255, 255, 255, 0.3); */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;}


:root {
    --primarli-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primarly-white-color: #ffffff;
    --busyness-bg: rgba(47, 48, 58, 0.8);
    --logo-color: #AFB1B8;
    --back-graund-developers-color: #F5F4FA;
    --footer-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --social-icon-color: rgba(255, 255, 255, 0.1);
    --developers-text-color: rgba(255, 255, 255, 0.4);
    --email-border-color: rgba(255, 255, 255, 0.3);

}

body {
    background-color: var(--primarly-white-color);
    color: var(--primarli-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Утиилиты */

.is-hidden {
  display: none;
}

.img {
    display: block;
}
.button {
   display: block; 
}

.container, .container-busyness{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}


.container .list {
    display: flex;
    justify-content: space-between;
}

/* секция */   


.section .container{
    padding-top: 94px;
    padding-bottom: 94px;
    }

.section .section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
    


li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
    }

.logo {
    display: inline-block;
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo > span {
color: var(--accent-color);
}

footer .logo {
    color: var(--primarly-white-color);
}

/* хедер */
.page-header{
    border-bottom: 1px solid #ECECEC;
}

.main-nav, .nav {
    display: flex;
    align-items: center;
   }

/* site-nav */

.site-nav {
    display: flex;
    margin-left: 80px;
    }

.site-nav .item:not( :last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding: 32px 5px;
    border-bottom: 4px solid transparent;
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus
{
color: var(--accent-color);
border-bottom: 4px solid var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* cont-nav */

.cont-nav{
    display: flex;
    margin-left: auto;
}

.cont-nav .item + .item{
    margin-left: 30px;
}
.cont-nav .link {
    color: var(--primarli-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; 
}
.cont-nav a:hover {
    color: var(--accent-color);
}


/* герой */

.hero {
    text-align: center;
}


.hero .hero-title{
    margin-top: 0;
    margin-bottom: 46px;

    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    font-family: inherit; 
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none; 
    
    display: inline-block;
    padding: 10px 32px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--primarly-white-color);
    border: 1px solid var(--accent-color);
    
}



/* список преимуществ */

.advantages-list {
    display: flex;
    justify-content: space-between; 
    
}
.advantages-elements {
    width: 278px;
    height: 251px; 
   }

.container .section-title {
    margin-bottom: 50px;
}
 
.advantages-list p {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}

.advantages-list .img{
    margin-bottom: 30px;
    background-color: var(--back-graund-developers-color);
    border-radius: 4px;
    width: 278px;
    height: 120px;
    }

.advantages-list .images:hover {
    background-color: var(--accent-color);
    width: 278px;
    height: 120px;
}

/* чем мы занимаемся*/


.section .container-busyness{
    padding-top: 0;
    padding-bottom: 94px;
    }

.container-busyness .list {
    display: flex;
    justify-content: space-between;
}

.list .title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    color:  var(--primarly-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
}

/* разработчики */

.developers {
    background-color: var(--back-graund-developers-color);
}

.developers .img{
    margin-bottom: 20px;
}

.section .subject {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.profession {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

section .icon {
    color: var(--logo-color);
    text-decoration: none; 
    }
.icon:hover {
    color: var(--accent-color);
}

/* наши клиенты */

.clietnts li {
    width: 175px;
    height: 90px;
    border: 1px solid var(--logo-color);
    border-radius: 4px;
    align-content: center;
}

.clietnts li:hover {
    border: 1px solid var(--accent-color);
}








/* футор */

footer {
    background-color: var(--footer-color);
 }

.footer-container {
    display: flex;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    padding-bottom: 28px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  
}

.address-information{
    width: 410px;
}

.address {
    color: var(--primarly-white-color);
    font-style: inherit;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none; 
}

.address-information .logo {
    margin-bottom: 10px;
}

.address-elements:not(:last-child) {
    margin-bottom: 9px;
}



.contacts {
    color: var(--contacts-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none
}

.contacts:hover {
    color: var(--accent-color);
}

.connect{
    width: 310px;
}


.e-mail {
   display: flex;
   margin-right: auto;
}

.e-color{
    margin: 0;
    margin-right: 12px;
    padding-left: 12px;
    width: 270px; 
    height: 50px;
    
    color: var(--contacts-color);
    border: 1px solid var(--email-border-color);
    border-radius: 4px;
}


.footer-container .footer-title {
    
    
    color: var(--primarly-white-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}

.footer-title {
    display: block;
    margin-bottom: 21px;
}

footer .icon {
    color: var(--social-icon-color);
    text-decoration: none;
    }

footer .copiright-text {
    margin-top: 18px;
    margin-bottom: 21px;

    color: var(--developers-text-color);
    font-size: 12px;
    line-height: 2;
    text-align: center;
}



/* страница портфолио */

.portfolio .title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; 
}
.portfolio .button {
    color: var(--title-text-color);
    background-color: var(--back-graund-developers-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: transparent;
}

.portfolio .button:not(:last-child) {
    margin-right: 8px;
}


.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--primarly-white-color);
    background-color:var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.selection {
    margin-bottom: 50px;
    text-align: center; 
   }


.portfolio-list a {
    text-decoration: none;
}



.portfolio-element:hover,
.portfolio-element:focus {
box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);

}

.text-hover {
    display: block;
    background-color: rgba(33, 150, 243, 0.9);
    /* width: 380px;
    height: 294px; */
}



.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-element {
    display: inline-block;
    width: calc((100% - 60px) / 3);
    /* width: 380px; */
    height: 404px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-element:nth-child(3n) {
    margin-right: 0;
}
.portfolio-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-list .img {
    margin-bottom: 20px;
}

.portfolio-title {
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 24px;

    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

.portfolio .subject {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;

    color: var(--primarli-text-color);
    font-size: 16px;
    line-height: 1.87;
    text-align: left
}
    
.portfolio .text-hover {
    display: none;
    margin: 63px 24px;
 
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 1.56;
}

.portfolio .text-hover:hover {
    color: var(--primarly-white-color);
    background-color: var(--accent-color);
}


